.user_level_icon {
    padding: 5px 10px;
    border: 2px solid #ffc107;
    background-color: #000;
    color: #ffc107;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 16px;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border-radius: 50px;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.3);
  }
  
  .user_level_icon:hover {
    background-color: #ffc107;
    color: #000;
    box-shadow: none;
  }

  .div-btn{
    border: solid 3px #000;
    margin: 59px;
  }

  .level-bar {
    position: relative;
  }
  
  .frame {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 479px;
    background-repeat: no-repeat;
    background-image: url(https://www.dropbox.com/s/u1goqyzz1jpj51f/GuildMain2_BarFrame.png?dl=1);
  }
  
  .underlay {
    height: 20px;
    width: 0;
    background-position: 0 100%;
    background-image: url(https://www.dropbox.com/s/oweepr3p3dq3odz/GuildMain2_BarUnderlay.png?dl=1);
    transition: all 1.5s ease-out;
  }
  
  
  .overlay {
    height: 20px;
    width: 0;
    background-position: 100% 0;
    background-image: url(https://www.dropbox.com/s/aq9f5gg59kvw0ec/GuildMain2_BarOverlay.png?dl=1);
    transition: all 1.5s ease-out;
  }
  
  button {
    margin-top: 20px;
  }

  